.gameBoard {
    background-color: darkgray;
    border: 0.2em solid gray;
    border-radius: 0.3em;

    /* prevent selecting text from a field */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.solved {
    border: 0.2em solid green;
}

.noTime {
    border: 0.2em solid red;
}

thead {
    background-color: dimgray;
    display: inline-block;
    width: 100%;
}

thead.solved {
    background-color: green;
    display: inline-block;
    width: 100%;
    border: none;
}

thead.noTime {
    background-color: red;
    display: inline-block;
    width: 100%;
    border: none;
}

th {
    width: 100%;
}

.white {
    color: white;
}
